
/* Navigation */

@media (max-width: 1450px){
    nav{
        width: 750px;
    }

    nav a , .btn-grad{
        font-size: 20px;
    }
}
    
@media (max-width: 1250px){

    #logo{
        width: 50%;
    }
}


@media (max-width: 1100px){

    nav, .rectNav{
        width: 50px;
    } 

    nav.scroll, .rectNav.scroll {
        width: 50px;
    }
    
    nav a, #inscription{
       display: none; 
       
    }

    #icon{
        display: block;
        font-size: 30px;
    }

    #logo{
            width: 50%;
        }
}

@media (max-width: 500px){

    #num{
        font-size: 20px;
    }

    nav, .rectNav{
        width: 30px;
        height: 50px;
    }

    .rectNav::before{
        border-left: 50px solid transparent;
        border-top: 50px solid #da3a37e5;
    }
}

/* A propos */



/* PLats, Tapas, Gins  */

@media (max-width: 1550px){
    h1{
            font-size: 60px;
        }
}

@media (max-width: 1250px){

    .background, .contain{
        height: 600px;
    }
}

@media (max-width: 1150px){
    h1{
            font-size: 50px;
        }
}

@media (max-width: 1100px){
    .zoneTexte, .background, footer, .containWhite{
        width: 98%;
    }
   
    .background, .contain{
        height: 430px;
    }
}

@media (max-width: 900px){
    h3{
            font-size: 25px;
    }
}

@media (max-width: 800px){
    h1{
            font-size: 45px;
        }
}


/* Avis, Réservation */

@media (max-width: 550px){
    .formul{
            display: block;
        }

    #com{
        margin: auto;
    }

    label{
        font-size: 25px;
    }

    .avis.active, #horaires{
        display: block;
    }

    #client{
        margin-top: 20px;
    }

    .par{
        font-size: 20px;
    }
    
    #horaires p{
        text-align: center;
        margin: auto;
        width: 60%;
    }

    h1{
        font-size:30px;
    }

    h3{
        font-size: 18px;
    }

}
    
/* Footer */


@media (max-width: 1350px){
    .fab{
        font-size: 30px;
         margin: auto;
    }

    footer{
        display: block;
        text-align: center;
        height: auto;
    }

}

/* Connexion, Inscription  */
    

@media (max-width: 550px){
    #btnCon{
            width: 60%;
        }
    .form1{
        text-align: center;
    }
    
    #photo{
            margin-left: 0;
        } 
        
    .valider{
        width: 60%;
    }
}

/* Séparations */

@media (max-width: 1400px){
    
    #rectSep2{
        width: 133%;
    }
}
@media (max-width: 1200px){
    
    #rectSep2{
        width: 130%;
    }
}
@media (max-width: 850px){
    
    #rectSep2{
        width: 128%;
    }
}
@media (max-width: 700px){
    
    #rectSep2{
        width: 125%;
    }
}

@media (max-width: 550px){
    
    #rectSep2{
        width: 122%;
    }
}
@media (max-width: 450px){
    
    #rectSep2{
        width: 119%;
    }
}






