
/* Général */

*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
	scroll-behavior:smooth;
}

body {
    background-color:#27282a;
}

h1 {
    z-index: 10;
    font-size: 80px;
    transition: all 0.8s ease-in-out;
  }

h2{
    font-size: clamp(20px, 5vw, 50px);
    text-decoration: underline;
}

h3 {
    font-size: 30px;
    margin-top: 30px;
    
}

.par{
    color: #f0f0ee;
    font-size: 25px;
    padding: 20px;
}

.underRed {
    text-decoration: underline #da3b37;
    color: #da3b37;
}

.underWhite {
    text-decoration: underline #f0f0ee;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.red {
    color: #da3b37;
    text-shadow: 3px 3px 3px black;
}

.white {
    color: #f0f0ee;
    text-shadow: 3px 3px 3px black;
}

.black{
    color: black;
    text-shadow: 1px 1px 1px #f0f0ee; 
}

.none{
    display: none;
}

/* Navigation */


.hoverNav {
    position: relative;
}

.hoverNav::after {
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    height: 3px; 
    background: #27282a;
    transition: transform .4s;
}

.hoverNav:hover::after {
    transform: scaleX(1);
}


#left{
    float: left;
}

nav {
    position: fixed;
    margin-top: 30px;
    z-index: 100;
    right: 0;
    width: 960px;
    transition: all 0.8s ease-in-out;
}

nav a{
    color: #27282a;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
}

nav a:hover{
    color: #f0f0ee;
}

#icon{
    content: "#";
}

.rectNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #da3a37e5;
    z-index: 10;
    transition: all 0.8s ease-in-out;
    height: 80px;
}

.rectNav::before{
    content:"";
    position: absolute;
    border-left : 80px solid transparent;
    border-top : 80px solid #da3a37e5;
    display : inline-block;
    right: 100%;
    transition: all 0.8s ease-in-out;
}

.btn-grad {
    background-image: linear-gradient(to right, #27282a 0%, #414345  51%, #232526  100%);
    padding: 15px 25px;
    font-size: 25px;
    text-align: center;
    background-size: 200% auto;
    color: #f0f0ee;            
    border-radius: 10px; 
    transition: all 0.8s ease-in-out; 
 }

.btn-grad:hover {
    background-position: right center;
    text-decoration: none;
    transition: all 0.8s ease-in-out;
    border-color: #f0f0ee;
 }
 
 #inscription{
     float: right;
     font-size: 20px;
     margin-top: 5px;
     transition: all 0.8s ease-in-out; 
 }
 
 
 #insc {
     padding: 5px 10px;
     font-size: 20px;
 }

 #insc:hover {
    border-color: #f0f0ee;
    background-image: linear-gradient(to right, #27282a 0%, #414345  51%, #232526  100%);
    color: #f0f0ee;            
    border-radius: 10px; 
    transition: all 0.8s ease-in-out; 
}

 .clignote {
    color:#f0f0ee;
    animation: clignote 4s linear infinite;
    border-color: #f0f0ee;
  }
  @keyframes clignote {  
    50% { opacity: 0.2; }
  }

/* Scroll */

nav.scroll {
    width: 750px;
    margin-top: 0;
}

.rectNav.scroll{
    background-color: #494a4eef;
    height: 50px; 
}

.rectNav.scroll::before{
    content:"";
    position: absolute;
    border-left : 50px solid transparent;
    border-top : 50px solid #494a4eef;
    display : inline-block;
    right: 100%;
}

.btn-grad.scroll{
    font-size: 20px;
    padding: 5px 12px;
}

#inscription.scroll {
    font-size: 18px;   
}

#insc.scroll {
    font-size: 18px;   
}

.rectNav a.scroll{
    color: #f0f0ee;
}

.rectNav a.scroll:hover{
    color: #da3b37;
}

/* Header */

header{
    height: 200px;
}

#num {
    color: #f0f0ee;
    font-size: 30px;
    padding-left: 5%;
    padding-top: 10px;
}

#logo{
    width: 450px;
    transition: all 0.8s ease-in-out;
}

.banniere{
    width: 40%;
    margin-top: 50px;
}

#navAnim{
   text-align: center;
}

#taureau{
    width: 65%; 
}

/* A propos */

.zoneTexte {
    width: 60%;
    background-color:#f0f0ee;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border: 2px solid black; 
    transition: all 0.5s ease-in-out;  
}



.texte{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.texte1 , .texte2 {
    background-color:#27282a;
    width: 45%;
    margin-bottom: 50px;
    border: 2px solid black; 
    padding-bottom: 20px;
}
 

/* Séparations */

.separation{
    display: flex;
    justify-content: space-between;
}

.containSep{
    position:relative;
    height:100px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.rectSep{
position: absolute;
height:30px;
background-color: #da3b37;
left:0;
}

#rectSep{
    width:60%;
}

.rectSep::after{
    content:"";
    position: relative;
    border-right : 30px solid transparent;
    border-top : 30px solid #da3b37;
    display : inline-block;
    left:100%;  
}

.rectSep2{
    position: absolute;
    height:30px;
    background-color: #da3b37;
    right:0;
    }

#rectSep2{
    width:134%;
}

.rectSep2::after{
    content:"";
    position: relative;
    border-left : 30px solid transparent;
    border-bottom : 30px solid #da3b37;
    display : inline-block;
    right: 30px;  
}

/* Plats/ Taps / Gins */

.background{
    position: absolute;
    height:800px;
    width:60%;
    z-index: -1;
    border: 2px solid;
    transition: all 0.5s ease-in-out; 
    }
    
.contain{
position:relative;
height:800px;
width:100%;
display: flex;
justify-content: center;
align-items: center;
}

.rect{
position: absolute;
height:100px;
background-color: rgba(165, 42, 42, 0.849);
left:0;
}

#rect1{
    width:61%;
}

.rect::before{
    content:"";
    position: relative;
    border-right : 100px solid transparent;
    border-top : 100px solid rgba(165, 42, 42, 0.849);
    display : inline-block;
    left:100%;  
  }

/* Plats */

#paella {
    background: url(img/paella2.jpg) center;
    background-size: cover;
}

/* Tapas */

#tapas{
    background: url(img/tapas2.jpg) center;
    background-size: cover;
}

#rect2{
     width:49%;
}


#tap {
    line-height: 800px;
}
  

/* Gins */

#rect3{
    width: 46%;
}

#gins{
    background: url(img/gin2.jpg) center;
    background-size: cover;
}


/* Avis */

.avis{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#27282a;
    width: 95%;
    margin-bottom: 50px; 
    border: 2px solid black;
    margin: auto;  
    padding-bottom: 30px;
}

#avis{
    margin-top: 0;
}

#client{
    width : 200px; 
    height : 200px;
    border: 2px solid #da3b37;
    border-radius : 100px;
}

#com {
    width: 60%;
}



.star{

    font-size: 30px;
    margin-left: 10px;
    color: #da3b37;
    text-shadow: 3px 3px 3px black;
}

.slider .avis{
    display: none;
}

.avis.active{
    display: flex;
    animation: fade 0.8s;
}

@keyframes fade{
    from {
        opacity:0
    } to {
        opacity:1
    }
}

.cont-btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.btn-nav {
    font-size: 60px;
    opacity:0.2;
    color: #27282a;
    margin: 20px;
    cursor: pointer;
}

.btn-nav:hover{
    transition: all 0.5s ease-in-out; 
    transform: scale(1.2);
    opacity: 1;
    color: #da3b37;
}



/* Réservations */

#resa {
    display: flex;
    flex-direction: column;
}

iframe {
    width: 100%;
    height: auto;
}

/* Horaires */

#horaires {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#27282a;
    width: 95%;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    border: 2px solid black; 
    padding: 30px  0;
}

#horaires p {
    width: 30%;
    color: #f0f0ee;
    text-align: left;
}

.resa {
    display: flex;
    flex-direction: column;
}

/* Formulaire */

.formulaire{
    display: flex;
    background-color:#27282a;
    width: 95%;
    margin: 50px auto;
    border: 2px solid black; 
}

.form1{
    text-align: left;
    color: #f0f0ee;
    font-size: 30px;
    margin: 50px auto;
    padding: 20px;
}

.formul{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

input, textarea{
    text-align: center;
    font-size: 30px;
    width: 80%;
    border: 2px solid #da3b37;
    background-color:#494a4e ;
    outline: none;
    margin-bottom: 40px;
    padding: 5px;
}

input:focus{
    border: 2px solid #f0f0ee;
    }

#nb{
    width: 50px;
}

.valider {
    margin-top: 30px;
    width: 35%;
}



/* Footer */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #da3b37;
    width: 60%;
    margin: auto;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
    font-size: 15px;
    transition: all 0.5s ease-in-out; 
}

footer a {
    text-decoration: none;
    color: black;
}

.fab{
    font-size: 45px;
    padding: 10px;
}

.fab:hover{
    transform: scale(1.5);
}

footer span{
    color: white;
}

.mentionsLeg:hover{
    color: #f0f0ee;
}

/* Mentions Légales */

.containWhite{
    width: 60%;
    background-color:#f0f0ee;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    transition: all 0.5s ease-in-out; 
}

.containBlack {
    background-color:#27282a;
    width: 95%;
    border: 2px solid black; 
    margin: 50px auto; 
}

.containBlack p {
    text-align: left;
}

/* Inscription */

#photo {
    width : 200px; 
    height : 200px;
    margin-left: 5%;
    border: 2px solid #da3b37;
    border-radius : 100px;
    cursor: pointer;
    padding: 0;
    line-height: 200px;
    font-size: 11px;
    background-color: #494a4e;
}

#file{
    text-align: center;

}


#btnCon{
    width: 43%;
}


/* Espace Connecté */

#compte{
    float: right;
    font-size: 20px;
    margin-top: 5px;
}

#decon{
    font-size: 20px;
    padding: 5px;
}

#decon:hover{
    border-color: #f0f0ee;
}

/* Espace Membres */

#profil {
    text-align: center;
}

#points {
    width: 95%;
}

#nbPoints {
    font-size: 50px;
}


/* Stars */

.rating{
   display: flex;
   width: 80%;
   margin-bottom: 40px;
   transform: rotateY(180deg);
}

.rating input{
    display: none;
}

.rating label{
    display: block;
    cursor: pointer;
    width: 50%;
}

.rating label::before{
    content: '★';
    position: relative;
    display: block;
    font-size: 50px;
    color: #f0f0ee;
    text-shadow: 3px 3px 3px black;
}

.rating label:hover:before,
.rating label:hover ~ label:before,
.rating input:checked ~ label:before {
    color: #da3b37;
}








    
  













