body, html{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.contain{
  position:relative;
  height:50vw;
  width:100vw;
  display: grid;
  place-items: center;
}

.rect{
  position: absolute;
  width:50vw;
  height:100px;
  background-color: rgba(165, 42, 42, 0.808);
  left:0;
}

.rect::after{
  content:"";
  position: relative;
  border-right : 100px solid transparent;
  border-bottom : 100px solid rgba(42, 81, 165, 0.808);
  display : inline-block;
  left:50vw;  
}

h1{
  z-index: 10;
  color:white;
}

.background{
  position: absolute;
  height:30vw;
  width:70vw;
  background-image: url(./E9G6aDcUcAAk3wU.jpg);
  z-index: -1;
  filter: blur(5px);
}

/* #test{
  
} */